@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  font-family: "Varela Round", sans-serif;
  color: rgb(13, 13, 87);
  transition: all 0.2s ease;
}

body {
  overflow: auto;
}

/* Background types */
.standard {
  background: rgb(205, 205, 205);
  background: linear-gradient(
    190deg,
    rgba(205, 205, 205, 1) 0%,
    rgba(163, 163, 163, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: all 0.2s ease;
}

.sunny {
  background: #dae93d;
  background: linear-gradient(153deg, #dae93d 0%, #2cdcff 46%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: all 0.2s ease;
}

.cloudy {
  background: rgb(25, 212, 249);
  background: linear-gradient(
    0deg,
    rgba(25, 212, 249, 1) 0%,
    rgb(46, 46, 46) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: all 0.2s ease;
}

.storm {
  background: rgb(241, 255, 0);
  background: linear-gradient(
    347deg,
    rgba(241, 255, 0, 1) 0%,
    rgba(0, 0, 79, 1) 68%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: all 0.2s ease;
}

.snow {
  background: rgb(9, 163, 255);
  background: linear-gradient(
    180deg,
    rgba(9, 163, 255, 1) 0%,
    rgba(255, 255, 255, 1) 63%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: all 0.2s ease;
}

/* Containers */
#main-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  width: 40%;
  padding: 30px 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  left: 0;
  right: 0;
  text-align: center;
  backdrop-filter: blur(4px);
}

#header-container {
  display: flex;
  align-self: center;
}

#results {
  display: flex;
  flex-direction: column;
}

/* Results styling */
.location {
  font-size: 14px;
  text-transform: uppercase;
  align-self: center;
  margin-top: 50px;
}

.main-weather-div {
  display: flex;
  justify-content: space-evenly;
  margin: 0 70px;
}

.main-weather {
  font-size: 30px;
  font-weight: bold;
  align-self: center;
}

.weather-icon {
  justify-self: center;
  width: 100px;
}

.feels-like-div {
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.feels-like-p {
  font-size: 14px;
  text-transform: uppercase;
}

.feels-like {
  font-size: 55px;
  font-weight: bold;
  margin-top: 0;
}

.extremes-div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: -45px 70px 0 70px;
}

.min-temp {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgb(12, 138, 211);
}

.max-temp {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 108, 108);
}

.additional-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.humidity-p {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}

.humidity {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.pressure-p {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
}

.pressure {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  grid-column: 3 / 5;
  grid-row: 7 / 8;
}

/* Nodes */
img {
  align-self: center;
  width: 15%;
  margin-right: 10px;
}

h1 {
  color: rgb(13, 13, 87);
}

button,
input {
  font-size: 16px;
  text-decoration: none;
  margin: 10px 20px;
  padding: 10px 15px;
  border: 0;
  border-radius: 8px;
  box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: #f7bd41;
}
